</div><!-- /.container -->
<br><br>
<hr>

<p class="text-center">&copy; Fresh Threads 2023 </p>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- js CDN plug-in wysiwyg CKEditor for add_page.ejs  -->
    <script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
