</div>
</div>
</div><!-- /.container -->
<br><br><br>
<hr>

<p class="text-center">&copy; FreshThreads 2023</p>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery CDN plug-in for gallery images -->
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="/js/main.js"></script>
  </body>

</html>
