@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


a {
    color: #101010;
}


a:hover  {
    color: #337ab7;
    text-decoration: none;
}


.navbar-brand {
    font-family: 'Joti One', cursive;
    color: #FF1493 !important;
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.3;
}


.row.products {
    display: grid !important;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}


.row .products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}


.row.products .p:first-child {
    grid-column-start: 1;
}


.row.products img.pimage {
    width: 150px;
}


.row.products a.pa {
    display: inline-block;
}


.row.products h3 {
    margin-top: 5px;
    min-width: 200px;
}


.row.products a:last-child {
    min-width: 100px !important;
    display: block !important;
}


img.spi {
    width: 100%;
}


.table-container {
    overflow-x: auto;
}


ul.gallery {
    padding: 0;
    margin-inline-start: -20px;
    margin-block-start: 1.5em;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}


img.cpi {
    width: 100px;
    text-align: center;
}


table.alignmiddle td {
    vertical-align: middle !important;
    
}


.btn, .buynow, .clearcart {
    padding-top: 9px;
}


.pp {
    position: absolute;
    left: -3000px;
}


.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}


.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

nav {
    padding: 20px 0;
    margin-bottom: 50px;
}






/* media queries */
@media only screen and (max-width: 751px) {
    .row.products {
        text-align: center;
    }
}

@media only screen and (max-width: 501px) {
    .row.products img.pimage {
        width: 90%;
    }
}