@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


.navbar-brand {
    font-family: 'Joti One', cursive;
    color: #FF1493 !important;
    font-size: 6rem;
    font-weight: 700;
    line-height: 0.3;
}


.navbar-header img {
    width: 2.5rem;
    margin-right: 20px;
    margin-left: -12px;
   
}


img.pimage {
    width: 150px;
}


a.pa {
    display: inline-block;
}


.row .products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}


.row.products h3, h4, .vd {
    padding-left: 25px;
}


.row.products h3 {
    margin-top: 5px;
}


img.spi {
    width: 100%;
}


ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}


img.cpi {
    width: 100px;
    text-align: center;
}


table.alignmiddle td {
    vertical-align: middle !important;
    
}


.btn, .buynow, .clearcart {
    padding-top: 9px;
}


.pp {
    position: absolute;
    left: -3000px;
}


.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}


.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

nav {
    padding: 20px 0;
    margin-bottom: 50px;
}